* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.j2 text eol=lf
*.md text eol=lf
*.example text eol=lf
*.ps1 text eol=crlf
.github/** text eol=lf
.ansible-lint text eol=lf
.yamllint.yml text eol=lf
ansible.cfg text eol=lf
requirements-dev.txt text eol=lf
LICENSE text eol=lf
