server {
    listen {{ ollama_https_port }} ssl;
    server_name {{ frigate_vm_ip }}{% for name in frigate_dns_names %} {{ name }}{% endfor %};

    ssl_certificate {{ frigate_root }}/certs/fullchain.pem;
    ssl_certificate_key {{ frigate_root }}/certs/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers off;

    client_max_body_size 50m;

    location / {
        proxy_pass http://127.0.0.1:11434;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_read_timeout 300s;
        proxy_send_timeout 300s;
    }
}
